/* GENERAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: linear-gradient(
        to bottom, 
        #009688 0%, 
        #009688 15%, 
        #d8dbd5 15%, 
        #d8dbd5 100%
    );
}

i:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

/* UTILITIES */
.hov {
    cursor: pointer;
}
/* LAYOUT */
.container {
    display: flex;
    flex-basis: 80%;
    min-width: 1024px;
    height: 95%;
    background: #fff;
}

/* ASIDE BAR */
.side {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
}

/* NOME UTENTE */
.nome-utente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0;
    background: #eaeaea;
}

.inside-user {
    display: flex;
    align-items: center;
}

.inside-user img {
    max-width: 20%;
    max-height: 90px;   
    margin-left: 10px;
    border-radius: 100%;
}

.inside-user img:hover {
    cursor: pointer;
}

.inside-user span:hover {
    cursor: pointer;
}

.inside-user i {
    font-size: 18px;
    padding: 10px;
    color: #b1b1b1;
}

.inside-user i:last-child {
    margin-right: 10px;
}

/* NOTIFICHE */
.notifiche {
    background: #8cdbfc;
}

.notifiche .inside-notifiche {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.inside-notifiche i {
    font-size: 16px;
    padding: 12px 9px;
    border-radius: 100%;
    background: #fff;
    color: #8cdbfc;
}

.inside-notifiche ul {
    list-style: none;
    margin-left: 10px;
}

.inside-notifiche ul li {
    display: flex;
    flex-direction: column;
}

.inside-notifiche ul li span {
    font-size: 14px;
}

.inside-notifiche ul li a {
    font-size: 12px;
    color: #4e7485;
}

/* SEARCH BAR */
.search-bar {
    padding: 5px;
    background: #fafafa;
}

.search-bar > div {
    position: relative;
    display: flex;
}

.search-bar input {
    position: relative;
    width: 100%;
    height: 25px;
    font-size: 9px;
    border: none;
    border: 1px solid #f5f5f5;
    color: #b6b9bb;
}

.search-bar input[type=text] {
    padding-left: 75px;
}

.search-bar i {
    position: absolute;
    font-size: 14px;
    top: 6px;
    left: 28px;
    z-index: 1;
    color: #b6b9bb;
}

/* UTENTI CHAT */
.utenti-chat {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.users {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.users:hover {
    cursor: pointer;
    background-color: rgba(194, 194, 194, 0.205);
}

.users img {
    max-width: 30%;
    max-height: 50px;   
    margin-left: 10px;
    border-radius: 100%;
}

.users span {
    margin-left: 15px;
}

/* MAIN CONTENT */
.content {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}

.content .header,
.content .footer {
    display: flex;
    align-items: center; 
    height: 8%;   
    border-left: 1px solid #d6d6d6;
    background: #eaeaea;
}

/* CONTENT HEADER */
.content .header {
    justify-content: space-between;
}   

.inside-header {
    display: flex;
    align-items: center;
}

.inside-header img {
    max-width: 50%;
    max-height: 40px;   
    margin-left: 10px;
    border-radius: 100%;
}

.inside-header ul li {
    display: flex;
    flex-direction: row;
}

.inside-header ul li span {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 10px;
}

.inside-header ul li > div span:last-child {
    font-size: 9px;
    color: #6b7376;
}

.inside-header ul li a {
    font-size: 10px;
    text-decoration: none;
    color: #6b7376;
}

.inside-header i {
    font-size: 18px;
    padding: 10px;
    color: #b1b1b1;
}

.inside-header i:last-child {
    margin-right: 10px;
}

/* CONTENT MESSAGE */
.content .message {
    flex-grow: 1;
    padding: 30px;
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}

.message > div {
    display: flex;
}

/* CHAT UTILITIES */
.bg-messages {
    width: 300px;
    font-size: 11px;
    border-radius: 8px;
    padding: 2px 10px;
    margin-bottom: 10px;
    background: #fff; 
}

.bg-green {
    background: #d5f8ba; 
}

.mg-top {
    margin-top: 11px;
}

.text-right {
    margin-left: 10px;
    text-align: right;
}

.date-color {
    font-size: 10px;
    color: #b6b9bb;
}

.justify-end {
    justify-content: flex-end;
}

/* CONTENT FOOTER */
.content .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    background: #f3eeea;
}

.content .footer i {
    font-size: 22px;
    color: #6b7376;
}

.content .footer input {
    width: 80%;
    height: 45px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
}

.content .footer input[type=text] {
    padding-left: 25px;
}

