* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: linear-gradient(
        to bottom, 
        #009688 0%, 
        #009688 15%, 
        #d8dbd5 15%, 
        #d8dbd5 100%
    );
}

/* LAYOUT */
.container {
    display: flex;
    flex-basis: 80%;
    min-width: 1024px;
    height: 95%;
    background: #fff;
}

/* ASIDE BAR */
.side {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
}

/* NOME UTENTE */
.nome-utente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    background: #eaeaea;
}

.inside-user {
    display: flex;
    align-items: center;
}

.inside-user img {
    max-width: 20%;
    max-height: 90px;   
    margin-left: 10px;
    border-radius: 100%;
}

.inside-user i {
    font-size: 18px;
    padding: 10px;
    color: #b1b1b1;
}

/* NOTIFICHE */
.notifiche {
    background: #8cdbfc;
}

.notifiche .inside-notifiche {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.inside-notifiche i {
    font-size: 16px;
    padding: 12px 9px;
    border-radius: 100%;
    background: #fff;
    color: #8cdbfc;
}

.inside-notifiche ul {
    list-style: none;
    margin-left: 10px;
}

.inside-notifiche ul li {
    display: flex;
    flex-direction: column;
}

.inside-notifiche ul li span {
    font-size: 14px;
}

.inside-notifiche ul li a {
    font-size: 12px;
    color: #4e7485;
}

/* SEARCH BAR */
.search-bar {
    padding: 5px;
    background: #fafafa;
}

.search-bar input {
    position: relative;
    width: 100%;
    height: 25px;
    font-size: 9px;
    font-weight: 700px;
    border: none;
    border: 1px solid #f5f5f5;
    color: #b6b9bb;
}

.search-bar input[type=text] {
    padding-left: 80px;
}

.search-bar input:focus {
    outline: none;
}

.search-bar i {
    position: absolute;
    font-size: 14px;
    left: 177px;   
    top: 155px; 
    color: #b6b9bb;
}

/* UTENTI CHAT */
.utenti-chat {
    display: flex;
    flex-direction: column;
}

.users {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.users img {
    max-width: 30%;
    max-height: 50px;   
    margin-left: 10px;
    border-radius: 100%;
}

.users span {
    margin-left: 15px;
}


/* MAIN CONTENT */
.content {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}

.content .header,
.content .footer {
    display: flex;
    align-items: center;
    height: 8%;
    border-left: 1px solid #d6d6d6;
    background: #eaeaea;
}

/* CONTENT HEADER */
.content .header {
    justify-content: space-between;
}

.inside-header {
    display: flex;
    align-items: center;
}

.inside-header img {
    max-width: 20%;
    max-height: 40px;   
    margin-left: 10px;
    border-radius: 100%;
}

.inside-header ul {
    margin-left: 10px;
}

.inside-header ul li {
    display: flex;
    flex-direction: column;
}

.inside-header ul li span {
    font-size: 14px;
}

.inside-header ul li a {
    font-size: 10px;
    text-decoration: none;
    color: #6b7376;
}

.inside-header i {
    font-size: 18px;
    padding: 10px;
    color: #b1b1b1;
}

/* CONTENT MESSAGE */
.content .message {
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}

/* CONTENT FOOTER */
.content .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    background: #f3eeea;
}

.content .footer i {
    font-size: 22px;
    color: #6b7376;
}

.content .footer input {
    width: 80%;
    height: 45px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
}


.content .footer input[type=text] {
    padding-left: 25px;
}
