<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">      
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE JS DEVELOP -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- VUE JS PRODUCTION -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->
</head>
<body>

    <!-- Container -->
    <div id="app" class="container">
        <!-- Aside bar -->
        <aside id="aside" class="side">
            <!-- Nome utente -->
            <section class="nome-utente">
                <div class="inside-user">
                    <img :src="'./img/avatar' + user.avatar + '.jpg'" 
                         :alt="user.name">
                    {{ user.name }}
                </div>
                <div class="inside-user">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
               </div>
            </section>

            <!-- Notifiche -->
            <section class="notifiche">
                <div class="inside-notifiche">
                    <i class="fas fa-bell-slash"></i>
                    <ul>
                        <li>
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <a href="#">Attiva notifiche desktop</a>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- Search bar -->
            <section class="search-bar">
                <div>
                    <i class="fas fa-search"></i>  
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
           
            </section>

            <!-- Utenti chat -->
            <section class="utenti-chat">
                <ul>
                    <li v-for="(item, index) in contacts" 
                        class="users"
                        @click="contactAction(index)"
                        >
                        <img :src="'img/avatar' + item.avatar + '.jpg'" alt="">
                        {{ item.name }} 
                    </li>
                </ul>
            </section>
        </aside>

        <!-- Main message -->
        <main class="content">
            <!-- Header main content -->
            <section class="header">
                <div class="inside-header hov">
                    <img src="./img/avatar_1.jpg" alt="">
                    <ul>
                        <li>
                            <span>Michele</span>
                            <a href="#">Ultimo accesso oggi alle 10.35</a>
                        </li>
                    </ul>
                </div>
                <div class="inside-header">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>

            <!-- Message main content -->
            <section class="message">
                <div 
                    v-for="message in contacts[contactActive].messages"
                    :class="message.status == 'sent' ? 'justify-end': ''"
                    >
                    <div 
                        class="bg-messages"
                        :class="message.status == 'sent' ? 'bg-green' : ''"        
                    >  
                        <div>
                            <p class="mg-top">
                                {{ message.message }}
                            </p>
                        </div>
                        <div>
                            <p class="text-right date-color">
                                {{ message.date }} 
                            </p>
                        </div>
                    </div>   
                </div>
            </section>

            <!-- Footer main content -->
            <section class="footer">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </section>
        </main>
    </div>

    <!-- JAVASCRIPT -->
    <script src="./js/main.js"></script>
</body>
</html>